@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/sora-bold.28a211.woff2") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/sora-regular.a9dbec.woff2") format("truetype");
  font-weight: 400;
}

:root {
  --pattern-fg: color-mix(in oklab, var(--color-black) 5%, transparent);
  --color-black: #000;
  --breakpoint-2xl: 96rem;
  --gutter-width: 2.5rem;
  --dark: 300 4% 9%;

  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --primary: 220.9 39.3% 11%;
  --primary-foreground: 210 20% 98%;
  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 224 71.4% 4.1%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply m-0 p-0;
    box-sizing: border-box;
    font-family: "Manrope", sans;

    ::-webkit-scrollbar {
      @apply h-1 w-1 rounded-xl bg-gray-300;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-500;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Sora", sans;
  }
  :root {
    /* Font Family */
    --font-body: "Manrope", sans-serif;
    --font-heading: "Manrope", sans-serif;

    /* ============================== */
    /* 📏 Display Sizes (Fluid clamp) */
    /* ============================== */
    --text-display-lg: clamp(2.569rem, calc(2.106rem + 2.314vw), 3.842rem);
    --font-weight-display-lg: 800;
    --leading-display-lg: 1;
    --tracking-display-lg: 0.008em;

    --text-display-md: clamp(2.283rem, calc(1.933rem + 1.752vw), 3.247rem);
    --font-weight-display-md: 800;
    --leading-display-md: 1;
    --tracking-display-md: 0.012em;

    /* ============================== */
    /* 🧱 Headings */
    /* ============================== */
    --text-h1: clamp(2.029rem, calc(1.769rem + 1.3vw), 2.744rem);
    --font-weight-h1: 700;
    --leading-h1: 1;
    --tracking-h1: 0.012em;

    --text-h2: clamp(1.603rem, calc(1.473rem + 0.65vw), 1.96rem);
    --font-weight-h2: 600;
    --leading-h2: 1;
    --tracking-h2: 0.016em;

    --text-h3: clamp(1.424rem, calc(1.34rem + 0.422vw), 1.657rem);
    --font-weight-h3: 600;
    --leading-h3: 1;
    --tracking-h3: 0.016em;

    --text-h4: clamp(1.266rem, calc(1.217rem + 0.244vw), 1.4rem);
    --font-weight-h4: 500;
    --leading-h4: 1;
    --tracking-h4: 0.016em;

    --text-h5: clamp(1.194rem, calc(1.159rem + 0.17vw), 1.287rem);
    --font-weight-h5: 500;
    --leading-h5: 1.5;
    --tracking-h5: 0.02em;

    --text-h6: clamp(1.125rem, calc(1.104rem + 0.106vw), 1.183rem);
    --font-weight-h6: 500;
    --leading-h6: 1.5;
    --tracking-h6: 0.02em;

    /* ============================== */
    /* ✍️ Body Text */
    /* ============================== */
    --text-body: clamp(1rem, calc(1rem + 0vw), 1rem);
    --font-weight-body: 400;
    --leading-body: 1.52;
    --tracking-body: 0.024em;

    --text-body-sm: clamp(0.943rem, calc(0.951rem + -0.043vw), 0.919rem);
    --font-weight-body-sm: 400;
    --leading-body-sm: 1.57;
    --tracking-body-sm: 0.024em;

    /* ============================== */
    /* 💬 Captions & Overlines */
    /* ============================== */
    --text-caption: clamp(0.838rem, calc(0.86rem + -0.111vw), 0.777rem);
    --font-weight-caption: 400;
    --leading-caption: 1.65;
    --tracking-caption: 0.024em;

    --text-overline: clamp(0.745rem, calc(0.777rem + -0.16vw), 0.657rem);
    --font-weight-overline: 500;
    --leading-overline: 1.65;
    --tracking-overline: 0.024em;
  }

  /* ============================== */
  /* 🧱 Headings */
  /* ============================== */
  h1 {
    @apply font-[var(--font-heading)];
    font-size: var(--text-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--leading-h1);
    letter-spacing: var(--tracking-h1);
  }

  h2 {
    @apply font-[var(--font-heading)];
    font-size: var(--text-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--leading-h2);
    letter-spacing: var(--tracking-h2);
  }

  h3 {
    @apply font-[var(--font-heading)];
    font-size: var(--text-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--leading-h3);
    letter-spacing: var(--tracking-h3);
  }

  h4 {
    @apply font-[var(--font-heading)];
    font-size: var(--text-h4);
    font-weight: var(--font-weight-h4);
    line-height: var(--leading-h4);
    letter-spacing: var(--tracking-h4);
  }

  h5 {
    @apply font-[var(--font-heading)];
    font-size: var(--text-h5);
    font-weight: var(--font-weight-h5);
    line-height: var(--leading-h5);
    letter-spacing: var(--tracking-h5);
  }

  h6 {
    @apply font-[var(--font-heading)];
    font-size: var(--text-h6);
    font-weight: var(--font-weight-h6);
    line-height: var(--leading-h6);
    letter-spacing: var(--tracking-h6);
  }

  /* ============================== */
  /* ✍️ Body Text */
  /* ============================== */
  p {
    @apply font-[var(--font-body)];
    font-size: var(--text-body);
    font-weight: var(--font-weight-body);
    line-height: var(--leading-body);
    letter-spacing: var(--tracking-body);
  }

  small {
    @apply font-[var(--font-body)];
    font-size: var(--text-body-sm);
    font-weight: var(--font-weight-body-sm);
    line-height: var(--leading-body-sm);
    letter-spacing: var(--tracking-body-sm);
  }

  /* ============================== */
  /* 💬 Overlines / Captions */
  /* ============================== */
  .overline {
    @apply uppercase font-[var(--font-heading)];
    font-size: var(--text-overline);
    font-weight: var(--font-weight-overline);
    line-height: var(--leading-overline);
    letter-spacing: var(--tracking-overline);
  }

  .caption {
    @apply font-[var(--font-body)];
    font-size: var(--text-caption);
    font-weight: var(--font-weight-caption);
    line-height: var(--leading-caption);
    letter-spacing: var(--tracking-caption);
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .bg-light-blur {
    backdrop-filter: blur(4px);
    background-color: hsla(0, 0%, 100%, 0.5);
  }

  .scroll-margin {
    scroll-margin-top: 12em;
  }
  h1.custom-heading {
    @apply text-5xl font-bold tracking-tight lg:text-6xl;
  }
  h2.custom-heading {
    @apply text-4xl font-bold tracking-tight;
  }
  h3.custom-heading {
    @apply text-3xl font-semibold tracking-tight;
  }
  h4.custom-heading {
    @apply text-2xl font-semibold tracking-tight;
  }
  h5.custom-heading {
    @apply text-xl font-medium tracking-tight;
  }
  h6.custom-heading {
    @apply text-lg font-medium tracking-tight;
  }

  div.tiptap.ProseMirror p {
    @apply my-3 font-[var(--font-sans)];
  }
  div.tiptap.ProseMirror li p {
    @apply mb-2 font-[var(--font-sans)];
  }
  div.tiptap.ProseMirror :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-[0.3em] mt-[1em] font-[var(--font-sans)] [&:first-child]:mt-0;
  }
  .heading-1 {
    @apply text-[80px] leading-[84px] tracking-[-3px] font-medium;
  }
  .heading-2 {
    @apply text-7xl leading-[76px] tracking-[-2px] font-medium;
  }
  .heading-3 {
    @apply text-[54px] leading-[58px] tracking-[-1px] font-medium;
  }
  .heading-4 {
    @apply text-[40px] leading-[44px] tracking-[-0.4px] font-medium;
  }
  .heading-5 {
    @apply text-[34px] leading-[38px] tracking-[-0.6px] font-medium;
  }
  .heading-6 {
    @apply text-[28px] leading-[34px] tracking-[-0.6px] font-medium;
  }
  .heading-7 {
    @apply text-[20px] leading-[28px] font-medium;
  }
  .fs-26 {
    @apply text-[26px] leading-10;
  }
  .fs-22 {
    @apply text-[22px] leading-[34px];
  }
  .fs-20 {
    @apply text-xl leading-8;
  }
  .fs-18 {
    @apply text-lg leading-[30px];
  }
  .fs-16 {
    @apply text-base leading-[26px];
  }
  .fs-14 {
    @apply text-sm leading-[22px];
  }
  .fs-12 {
    @apply text-xs leading-5;
  }
  .button-xl {
    @apply text-[26px] leading-[38px] font-medium;
  }
  .button-lg {
    @apply text-[22px] leading-[34px] font-medium;
  }
  .button-md {
    @apply text-lg leading-8 font-medium;
  }
  .button-sm {
    @apply text-base leading-[28px] font-medium;
  }
  .button-xs {
    @apply text-sm leading-6 font-medium;
  }

  .padding-vertical {
    @apply pt-10 md:pt-12 xl:pt-20 pb-12 md:pb-20 xl:pb-40;
  }
  .padding-horizontal {
    @apply px-4% md:px-6% xl:px-10%;
  }
}
